body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  background-image: url('https://img.freepik.com/free-vector/gradient-grid-background_23-2150548357.jpg');
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: .2em;
}

footer {
  margin-top: auto;
  text-align: left !important;
  padding: .1em !important;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.card {
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-form-container {
  margin-top: 1em;
}
